In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('survey_results_public.csv', encoding='unicode_escape')

In [3]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donât code outside of work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [4]:
df.shape

(73268, 79)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

In [6]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [7]:
df['LearnCode'].value_counts()

School (i.e., University, College, etc)                                                                                                                                                                                      3669
Other online resources (e.g., videos, blogs, forum)                                                                                                                                                                          3292
Books / Physical media;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)                                                                                                           2873
Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc)                                                                                                                                  2697
Books / Physical media;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc);On the job training;Online Courses or Certification                                                       2392
                                                                                                                                                                                                                             ...
Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc);On the job training;Online Courses or Certification;Coding Bootcamp;Other (please specify):;Hackathons (virtual or in-person)       1
Friend or family member;Online Courses or Certification;Coding Bootcamp;Colleague;Hackathons (virtual or in-person)                                                                                                             1
Books / Physical media;Friend or family member;Other online resources (e.g., videos, blogs, forum);School (i.e., University, College, etc);Online Courses or Certification;Coding Bootcamp;Other (please specify):              1
Books / Physical media;School (i.e., University, College, etc);On the job training;Coding Bootcamp;Hackathons (virtual or in-person)                                                                                            1
Other online resources (e.g., videos, blogs, forum);On the job training;Coding Bootcamp;Other (please specify):                                                                                                                 1
Name: LearnCode, Length: 737, dtype: int64

In [8]:
df.loc[0:2,'Employment'].value_counts()

Employed, full-time    2
Name: Employment, dtype: int64

In [9]:
pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',20)

In [10]:
df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,...,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,...,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,...,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donât code outside of work,...,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,...,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,...,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,...,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,...,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,...,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,...,NaN,NaN,Appropriate in length,Easy,NaN

In [11]:
df.set_index('ResponseId',inplace=True)

In [12]:
df.sort_index(ascending=True)

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,...,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,...,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",...,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I donât code outside of work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",...,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,NaN

In [13]:
df['RemoteWork']

ResponseId
1                                         NaN
2                                Fully remote
3        Hybrid (some remote, some in-person)
4                                Fully remote
5        Hybrid (some remote, some in-person)
                         ...
73264                            Fully remote
73265                          Full in-person
73266    Hybrid (some remote, some in-person)
73267    Hybrid (some remote, some in-person)
73268                            Fully remote
Name: RemoteWork, Length: 73268, dtype: object

In [14]:
x=['Fully remote','Full in-person']
y=df['RemoteWork'].isin(x)
df[y]

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,...,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,...,NaN,NaN,Too long,Difficult,NaN
4,I am a developer by profession,"Employed, full-time",Fully remote,I donât code outside of work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,215232.0
10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,...,NaN,NaN,Appropriate in length,Easy,NaN
12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,No,Too short,Easy,194400.0
14,I am a developer by profession,"Employed, part-time",Fully remote,Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,No,No,Too short,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...
73249,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,NaN
73251,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Freelance/contract work,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",...,NaN,NaN,Appropriate in length,Easy,NaN
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",...,Yes,Yes,Too long,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Easy,NaN

In [15]:
df.apply(len)

MainBranch             73268
Employment             73268
RemoteWork             73268
CodingActivities       73268
EdLevel                73268
                       ...
TrueFalse_2            73268
TrueFalse_3            73268
SurveyLength           73268
SurveyEase             73268
ConvertedCompYearly    73268
Length: 78, dtype: int64

In [16]:
df.apply(len,axis='columns')

ResponseId
1        78
2        78
3        78
4        78
5        78
         ..
73264    78
73265    78
73266    78
73267    78
73268    78
Length: 73268, dtype: int64

In [17]:
df.apply(pd.Series.min)

TypeError: '<=' not supported between instances of 'float' and 'str'

In [18]:
df['WorkExp'].nlargest(10)

ResponseId
4679     50.0
5472     50.0
9453     50.0
13265    50.0
14817    50.0
16275    50.0
16451    50.0
21489    50.0
22642    50.0
22752    50.0
Name: WorkExp, dtype: float64

In [19]:
df.nlargest(10,'WorkExp')

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,...,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,
4679,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,Some college/university study without earning ...,...,No,Yes,Too long,Easy,NaN
5472,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Fully remote,Contribute to open-source projects,"Masterâs degree (M.A., M.S., M.Eng., MBA, etc.)",...,Yes,No,Appropriate in length,Easy,9650.0
9453,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Neither easy nor difficult,6144.0
13265,I am a developer by profession,"Employed, part-time;Retired",Fully remote,Contribute to open-source projects,"Professional degree (JD, MD, etc.)",...,Yes,No,Appropriate in length,Neither easy nor difficult,20000.0
14817,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,Some college/university study without earning ...,...,No,Yes,Appropriate in length,Easy,140000.0
16275,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects;Boots...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,NaN,NaN,Appropriate in length,Neither easy nor difficult,70935.0
16451,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Freel...,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Easy,NaN
21489,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,Some college/university study without earning ...,...,Yes,Yes,Too long,Easy,NaN
22642,I am a developer by profession,"Employed, full-time;Student, full-time;Student...","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects;Boots...,Primary/elementary school,...,No,No,Too long,Easy,NaN
22752,"I am not primarily a developer, but I write co...","Employed, full-time",Full in-person,Hobby;Contribute to open-source projects,"Other doctoral degree (Ph.D., Ed.D., etc.)",...,Yes,Yes,Too long,Neither easy nor difficult,200000.0

In [20]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [21]:
df['ConvertedCompYearly']

ResponseId
1             NaN
2             NaN
3         40205.0
4        215232.0
5             NaN
           ...
73264         NaN
73265         NaN
73266         NaN
73267         NaN
73268         NaN
Name: ConvertedCompYearly, Length: 73268, dtype: float64

In [22]:
df.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [23]:
df['Country']

ResponseId
1                                                      NaN
2                                                   Canada
3        United Kingdom of Great Britain and Northern I...
4                                                   Israel
5                                 United States of America
                               ...
73264                                              Nigeria
73265                             United States of America
73266                             United States of America
73267    United Kingdom of Great Britain and Northern I...
73268                                               Canada
Name: Country, Length: 73268, dtype: object

In [24]:
df['Country'].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [25]:
df['Country'].value_counts(normalize=True)

United States of America                                0.188697
India                                                   0.092503
Germany                                                 0.075170
United Kingdom of Great Britain and Northern Ireland    0.058380
Canada                                                  0.034694
                                                          ...
Monaco                                                  0.000014
Djibouti                                                0.000014
Seychelles                                              0.000014
Solomon Islands                                         0.000014
Saint Kitts and Nevis                                   0.000014
Name: Country, Length: 180, dtype: float64

In [26]:
y= df['Country']=='India'
df.loc[y]['MainBranch'].value_counts()

I am a developer by profession                                                   4625
I am learning to code                                                            1161
I code primarily as a hobby                                                       440
I am not primarily a developer, but I write code sometimes as part of my work     335
I used to be a developer by profession, but no longer am                           78
Name: MainBranch, dtype: int64

In [27]:
x=df.groupby('Country')
x['MainBranch'].value_counts().head(20)

Country      MainBranch
Afghanistan  I am a developer by profession                                                   43
             I code primarily as a hobby                                                      11
             I am learning to code                                                             7
             I am not primarily a developer, but I write code sometimes as part of my work     6
             I used to be a developer by profession, but no longer am                          2
Albania      I am a developer by profession                                                   43
             I am learning to code                                                            12
             I am not primarily a developer, but I write code sometimes as part of my work     2
             I code primarily as a hobby                                                       2
Algeria      I am a developer by profession                                                   25
             I am learning to code                                                             4
             I code primarily as a hobby                                                       4
             I am not primarily a developer, but I write code sometimes as part of my work     2
             I used to be a developer by profession, but no longer am                          1
Andorra      I am a developer by profession                                                   12
             I am learning to code                                                             1
             I am not primarily a developer, but I write code sometimes as part of my work     1
             I code primarily as a hobby                                                       1
Angola       I am a developer by profession                                                   10
             I am not primarily a developer, but I write code sometimes as part of my work     2
Name: MainBranch, dtype: int64

In [28]:
x=df.groupby('Country')
x['MainBranch'].value_counts(normalize=True).head(20)

Country      MainBranch
Afghanistan  I am a developer by profession                                                   0.623188
             I code primarily as a hobby                                                      0.159420
             I am learning to code                                                            0.101449
             I am not primarily a developer, but I write code sometimes as part of my work    0.086957
             I used to be a developer by profession, but no longer am                         0.028986
Albania      I am a developer by profession                                                   0.728814
             I am learning to code                                                            0.203390
             I am not primarily a developer, but I write code sometimes as part of my work    0.033898
             I code primarily as a hobby                                                      0.033898
Algeria      I am a developer by profession                                                   0.694444
             I am learning to code                                                            0.111111
             I code primarily as a hobby                                                      0.111111
             I am not primarily a developer, but I write code sometimes as part of my work    0.055556
             I used to be a developer by profession, but no longer am                         0.027778
Andorra      I am a developer by profession                                                   0.800000
             I am learning to code                                                            0.066667
             I am not primarily a developer, but I write code sometimes as part of my work    0.066667
             I code primarily as a hobby                                                      0.066667
Angola       I am a developer by profession                                                   0.833333
             I am not primarily a developer, but I write code sometimes as part of my work    0.166667
Name: MainBranch, dtype: float64

In [29]:
x['ConvertedCompYearly'].median().loc['India']

18576.0

In [30]:
x['ConvertedCompYearly'].agg(['mean','median'])

                                              mean   median
Country
Afghanistan                           33914.666667  10894.0
Albania                               24895.148148  15360.0
Algeria                               12732.888889   7440.0
Andorra                               98003.125000  76784.0
Angola                                 6222.750000   3073.5
...                                            ...      ...
Venezuela, Bolivarian Republic of...  17079.400000  12000.0
Viet Nam                              37707.563830  11388.0
Yemen                                 17464.666667  15000.0
Zambia                                 8452.000000   6612.0
Zimbabwe                              87596.000000  11400.0

[180 rows x 2 columns]

In [31]:
y= df['Country']=='India'
df.loc[y]['MainBranch'].str.contains('I am learning to code').sum()

1161

In [32]:
x['MainBranch'].apply(lambda x: x.str.contains('I am learning to code').sum())

Country
Afghanistan                              7
Albania                                 12
Algeria                                  4
Andorra                                  1
Angola                                   0
                                        ..
Venezuela, Bolivarian Republic of...    14
Viet Nam                                63
Yemen                                    1
Zambia                                   6
Zimbabwe                                 6
Name: MainBranch, Length: 180, dtype: int64

In [33]:
a = df['Country'].value_counts()
a

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [34]:
b = x['MainBranch'].apply(lambda x: x.str.contains('I am learning to code').sum())
b

Country
Afghanistan                              7
Albania                                 12
Algeria                                  4
Andorra                                  1
Angola                                   0
                                        ..
Venezuela, Bolivarian Republic of...    14
Viet Nam                                63
Yemen                                    1
Zambia                                   6
Zimbabwe                                 6
Name: MainBranch, Length: 180, dtype: int64

In [35]:
c = pd.concat([a,b],axis='columns')
c

                                                    Country  MainBranch
United States of America                              13543         673
India                                                  6639        1161
Germany                                                5395         259
United Kingdom of Great Britain and Northern Ir...     4190         188
Canada                                                 2490         152
...                                                     ...         ...
Monaco                                                    1           0
Djibouti                                                  1           0
Seychelles                                                1           0
Solomon Islands                                           1           0
Saint Kitts and Nevis                                     1           0

[180 rows x 2 columns]

In [36]:
c['Percentage'] = (c['MainBranch']/c['Country'])*100
c

,Country,MainBranch,Percentage
United States of America,13543,673,4.969357
India,6639,1161,17.487573
Germany,5395,259,4.800741
United Kingdom of Great Britain and Northern Ireland,4190,188,4.486874
Canada,2490,152,6.104418
...,...,...,...
Monaco,1,0,0.000000
Djibouti,1,0,0.000000
Seychelles,1,0,0.000000
Solomon Islands,1,0,0.000000
Saint Kitts and Nevis,1,0,0.000000

In [37]:
c.sort_values(by='Percentage',ascending=False).head(50)

                             Country  MainBranch  Percentage
Papua New Guinea                   2           2  100.000000
Cape Verde                         4           2   50.000000
Antigua and Barbuda                2           1   50.000000
Mauritania                         2           1   50.000000
Gabon                              2           1   50.000000
...                              ...         ...         ...
Sri Lanka                        296          53   17.905405
South Korea                      229          41   17.903930
China                            632         113   17.879747
United Republic of Tanzania       28           5   17.857143
India                           6639        1161   17.487573

[50 rows x 3 columns]

In [39]:
c.loc['Japan']

Country       333.000000
MainBranch     17.000000
Percentage      5.105105
Name: Japan, dtype: float64

In [44]:
#Check every possible value in a column
df["WorkExp"].unique()

array([nan,  6., 14.,  5., 15.,  4., 23.,  9., 22., 21.,  3., 28.,  7.,
       12.,  8.,  2., 20., 27.,  1., 10., 19., 13., 30., 11., 18., 47.,
       17., 46., 25., 24., 31.,  0., 41., 43., 40., 16., 42., 35., 32.,
       34., 26., 36., 38., 29., 33., 44., 37., 50., 45., 39., 48., 49.])

In [45]:
df["WorkExp"].astype(float)

ResponseId
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
         ...
73264     5.0
73265     6.0
73266    42.0
73267     NaN
73268     NaN
Name: WorkExp, Length: 73268, dtype: float64

In [46]:
filt = (df["Country"] == "India")
India_df=df.loc[filt]

In [47]:
India_df.to_csv("Newdata.csv")

In [48]:
India_df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,...,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...",...,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,...,NaN,NaN,Appropriate in length,Easy,NaN
66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Easy,NaN
141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donât code outside of work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0
...,...,...,...,...,...,...,...,...,...,...,...
73185,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,No,Appropriate in length,Easy,NaN
73194,"I used to be a developer by profession, but no...","Employed, full-time",Fully remote,Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Appropriate in length,Easy,NaN
73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Neither easy nor difficult,NaN
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",...,NaN,NaN,Too short,Easy,NaN
73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâs degree (B.A., B.S., B.Eng., etc.)",...,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [49]:
India_df.to_excel("excel.xlsx")

In [50]:
India_df.to_json("json.json")

In [53]:
from sqlalchemy import create_engine 
import psycopg2

In [57]:
engine = create_engine('postgresql://lion:tiger@localhost:5432/Pandas')

In [58]:
India_df.to_sql('ssqlll',engine)

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused (0x0000274D/10061)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/14/e3q8)